{% extends "master.html" %}
{% load static %}

{% block title %}
    registration page
{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock  %}

{% block body %}
    <h1 class='text-red-600'>Registration</h1>
    <form method='POST'>
        {% csrf_token %}
        
        {{ register_form.as_p }} <!-- ჩასვამს input ებს პარაგრაფში -->

        <input type="submit">
    </form>

    <script src="{% static 'script.js' %}"></script>
{% endblock  %}