{% extends "master.html" %}

{% block title %}
    login page
{% endblock %}

{% block body %}
    <form method="POST">
        {% for error in errors %}
            <ul>
                <li>{{ error }}</li>
            </ul>
        {% endfor %}
        {% csrf_token %}
        <label for="email">Email: </label><br>
        <input type="email" name="email" id="email"><br><br>

        <label for="password">Password: </label><br>
        <input type="password" name="password" id="password"><br><br>

        <input type="submit">
    </form>
{% endblock  %}