{% extends "master.html" %}

{% block title %}
    product details
{% endblock  %}

{% block body %}
    <h1>product info</h1>
    <h1>holder : {{ product_holder.username }}</h1>
    <ul>
        
        <li>title: {{ product_detail.title }} $({{ product_detail.price }})</li>
        <br>
        <li>desc: {{ product_detail.desc }}</li>
        <br>
        <li>rating: {{ product_detail.rating }}</li>
    </ul>

    {% if product_holder.username == user.username %}
        <a href="{% url 'delete_product' product_detail.id %}"><button>delete</button></a>
    {% endif %}

{% endblock  %}