{% extends "master.html" %}

{% block title %}
    about us
{% endblock  %}

{% block body %}
    <h1>this is about page</h1>

    <nav>
        <ul>
            <a href="/">
                <li>home</li>
            </a>
            <a href="/contact">
                <li>contact</li>
            </a>
            <a href="about us">
                <li>about us</li>
            </a>
            <a href="services">
                <li>services</li>
            </a>
            <a href="/user/registration">
                <li>registration</li>
            </a>
            <a href="/user/login">
                <li>login</li>
            </a>
            <a href="/products">
                <li>products</li>
            </a>
        </ul>
    </nav>
{% endblock  %}