{% extends "master.html" %}

{% block title %}
    main page
{% endblock  %}

{% block body %}
    <h1>this is main page</h1>

    <nav>
        <ul>
            <a href="/">
                <li>home</li>
            </a>
            <a href="/contact">
                <li>contact</li>
            </a>
            <a href="about us">
                <li>about us</li>
            </a>
            <a href="services">
                <li>services</li>
            </a>
            <a href="/user/registration">
                <li>registration</li>
            </a>
            <a href="/user/login">
                <li>login</li>
            </a>
            <a href="/products">
                <li>products</li>
            </a>
        </ul>
    </nav>

    <h2>reviews</h2>
    {% for review in all_reviews %}
        <h4>title: {{ review.title }}</h4>
        <ul>
            <li>review: {{ review.desc }}</li>
            <li>rating : {{ review.rating }}/5</li>
        </ul>
        <br>
    {% endfor %}
{% endblock  %}