<nav>
    <ul>
        <a href="{% url 'main_page' %}">
            <li>home</li>
        </a>
        <a href="{% url 'contact_page' %}">
            <li>contact</li>
        </a>
        <a href="{% url 'about_page' %}">
            <li>about us</li>
        </a>
        <a href="{% url 'services_page' %}">
            <li>services</li>
        </a>
        <a href="{% url 'add_user' %}">
            <li>registration</li>
        </a>
        <a href="{% url 'user_login' %}">
            <li>login</li>
        </a>
        <a href="{% url 'all_products' %}">
            <li>products</li>
        </a>
    </ul>
</nav>